#main_page_wrap li {
	font-family: Arial, sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
}

#main_page_wrap {
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	line-height: 100%;
	background-color: #d3d6ff;
}

#main_page_wrap h2 {
	font-family: Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	color: #333;
}

#main_page_body {
	min-height: 550px;
}

#main_page_menu {
	float: left;
	width: 10%;
	min-height: 550px;
}

#main_page_content {
	float: right;
	width: 90%;
	min-height: 550px;
	background-color: white;
}

#main_page_header {
}

.wrappadding {
	padding: 5px;
}
/* MENU START */
.active_btn {
	border-color: red;
	border-radius: 5px;
	background-color: yellow;
}

.menu_btn {
	width: 100%;
	height: 40px;
	margin-top: 10px;
	font-weight: bold;
}
/* MENU END*/